*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #eee;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

a {
  color: #2980b9;
  text-decoration: none;
}

aside ul {
  padding: 0;
}
aside ul li {
  list-style: none;
  margin: 0;
}
aside ul li a {
  display: block;
  padding: 10px 5%;
  border-bottom: solid 1px #95a5a6;
}

@media (min-width: 500px) {
  .main {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@media (min-width: 960px) {
  .main {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 87.5%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
  }
  .main .col1, .main .col2, .main .col3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 3.33333%;
    padding-right: 3.33333%;
  }

  aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 12.5%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
  }
}
